// Header styles

.header {
  .logo {
    margin-top: 100px;
    text-align: center;
    background: $color-blue;
    color: $color-white;
    padding: 60px 0;
    margin: 20px auto;

    a {
      text-decoration: none;
    }
  }


  li > a {
    color: $color-blue;
    text-decoration: none;
  }
}