// ********************
//
// Base Colors
//
// ********************

$color-white: #fff;
$color-grey: #aaaaaa;
$color-black: #333333;

// ********************
//
// Brand Color Scheme
//
// ********************

$color-brand-asset: #efefef;
$color-brand-main: #ff434c;
$color-brand-secondary: #9bc4dd;
$color-brand-secondary-dark: #5299c4;
$color-brand-tertiary: #60b29f;

//
// Heuristic Colors
//

$color-warning: #d2ab59;
$color-success: #5abd94;
$color-danger: #903d3d;