// ********************
//
// Base Project Settings
//
// ********************

//
// Base DOM declarations
//

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: $color-white;
  font-family: $base-type;
  text-align: center;
  padding: 20px;
  color: $color-black;
}
