// Header styles

.header {
  a {
    text-decoration: none;
    display: inline-block;
  }

  img {
    &.logo {
      width: 50px;
      margin-bottom: -10px;
    }
  }

  ul {
    display: none;

    @include screen-medium {
      display: inline-block;
      float: right;
      list-style: none;
      margin-top: 30px;

      li {
        float: left;
        margin: 5px 14px 0 0;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}