// Google Fonts Imports

$google-serif: 'Merriweather';
$google-logo: 'Bitter';

// Base Typography Styles

$base-type: $google-serif, Times New Roman, serif;
$base-type-logo: $google-logo, serif;
$base-type-code: Menlo, Monaco, monospace;
$type-weight-regular: 400;


html {
  font-family: $base-type;
  font-weight: $type-weight-regular;
}

p {
  font-size: 18px;
  margin: 20px 0;
}

.logo {
  font-family: $base-type-logo;
  display: inline-block;
  font-size: 40px;
}
