// Base Typography Styles

$base-type: 'Karla', sans-serif;
$base-type-logo: 'Bitter', serif;
$base-type-code: Menlo, Monaco, monospace;
$type-weight-regular: 400;


html {
  font-family: $base-type;
  font-weight: $type-weight-regular;
}

p {
  font-size: 18px;
  margin: 20px 0;
}

.logo {
  font-family: $base-type-logo;
  display: inline-block;
  font-size: 40px;
}
