/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  width: 90%;
  margin: 0 auto; }
  @media screen and (min-width: 700px) {
    .container {
      max-width: 600px; } }

html {
  font-family: "Lora", sans-serif;
  font-weight: 400; }

h1 {
  display: inline-block;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 15px; }

h2 {
  font-size: 22px;
  font-weight: bold; }

p {
  font-size: 18px;
  margin: 20px 0; }

hr {
  background-color: #383838;
  border: 0;
  height: 4px;
  width: 20%;
  margin: 50px auto 100px auto; }

* {
  margin: 0 auto;
  padding: 0; }

html,
body {
  height: 100%; }

body {
  font-family: "Lora", sans-serif;
  color: #383838;
  line-height: 1.7; }

a {
  text-decoration: underline;
  color: inherit; }

ul {
  list-style: none;
  margin-bottom: 100px;
  text-align: center; }
  ul li {
    display: inline;
    margin: 5px; }

.header .logo {
  margin-top: 100px;
  text-align: center; }
  .header .logo a {
    text-decoration: none; }
  .header .logo .logo-svg {
    width: 35px;
    margin-bottom: -10px;
    margin-right: 20px; }
.header li > a {
  color: #0046fe; }

code {
  font-family: Menlo, monospace;
  background: #eaefff;
  color: #00113c;
  padding: 10px;
  word-wrap: break-word;
  display: block; }
