/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  width: 90%;
  margin: 0 auto; }
  @media screen and (min-width: 700px) {
    .container {
      max-width: 600px; } }

html {
  font-family: "Karla", sans-serif;
  font-weight: 400; }

h2 {
  font-size: 22px;
  font-weight: bold; }

h3 {
  font-size: 20px; }

p {
  font-size: 18px;
  margin: 20px 0; }

blockquote {
  margin: 50px 0;
  padding-left: 20px;
  border-left: 2px solid #414141; }

.logo {
  font-family: "Bitter", serif;
  display: inline-block;
  font-size: 40px; }

* {
  margin: 0 auto;
  padding: 0; }

html,
body {
  height: 100%; }

body {
  font-family: "Karla", sans-serif;
  text-align: left;
  padding: 20px;
  color: #414141;
  background: #e0c4a8;
  line-height: 1.2; }

a {
  text-decoration: underline;
  color: inherit; }

ul {
  list-style: none; }

.header {
  margin-bottom: 20px; }
  @media screen and (min-width: 700px) {
    .header {
      margin-bottom: 60px; } }
  .header a {
    text-decoration: none;
    display: inline-block; }
  .header img.logo {
    width: 50px;
    margin-bottom: -10px; }
  .header ul {
    display: none; }
    @media screen and (min-width: 700px) {
      .header ul {
        display: inline-block;
        float: right;
        list-style: none;
        margin-top: 17px; }
        .header ul li {
          float: left;
          margin: 5px 14px 0 0; }
          .header ul li:last-child {
            margin-right: 0; } }

.footer {
  margin: 20px 0;
  border-top: 2px solid #414141; }

code {
  font-family: Menlo, Monaco, monospace;
  background: #f6f6f6;
  color: #5d5d5d;
  padding: 10px;
  word-wrap: break-word;
  display: block; }
