// ********************
//
// Base Project Settings
//
// ********************

//
// Base Typographic Weights
//

$type-light: 100;
$type-regular: 400;
$type-bold: 700;

//
// Base Typography
//

$base-type: Helvetica, Arial, sans-serif;
$base-type-code: Monaco, "Courier New", monospace;
$base-type-weight: $type-regular;
$base-type-weight-bold: $type-bold;
$base-type-size: 1.195em;
$base-type-lineHeight: 1.5em;

//
// Base DOM declarations
//

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 13.34px $base-type;
  font-size: small;
  text-align: center;
  padding: 20px;
  color: $color-black;
}