// ********************
//
// Code Style
//
// ********************

code {
  font-family: $base-type-code;
  background: $color-white;
  color: $color-brand-main;
  max-width: 100%;
  display: block;
  padding: 10px;
}