// ********************
//
// Project Components
//
// ********************

// Site

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
  a {
    font-weight: bold;
    text-decoration: none;
    .header h1.title {
      display: inline-block;
      margin-bottom: 2em;
      a {
        color: #aa0000;
        &:hover {
          color: $color-black;
        }
      }
    }
  }
}

.site .header a.extra {
  color: $color-grey;
  margin-left: 1em;
}

.site .header a.extra:hover {
  color: $color-black;
}

.site .meta {
  color: $color-grey;
  font-family: $base-type-code;
  font-size: 80%;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .rss {
  margin-right: 2px;
  float: right;
  img {
    border: 0;
  }
}

// Posts

// Standard

.post pre {
  border: 1px solid #dddddd;
  background-color: #eeeeff;
  padding: 0 0.4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

// Terminal

.post pre.terminal {
  border: 1px solid $color-black;
  background-color: $color-grey;
  color: $color-white;
}
