// ********************
//
// Layout Styles
//
// ********************

.centered {
  text-align: center;
}

.masthead {
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 4em;
}

.bodycontent {
  background-color: $color-brand-secondary-dark;
  color: $color-white;
  padding-top: 10px;
  padding-bottom: 10px;
}