// ********************
//
// List Styles
//
// ********************

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
  li {
    line-height: 1.75em;
  } span {
    color: $color-grey;
    font-family: $base-type-code;
    font-size: 80%;
  }
}