// ********************
//
// Typography Styles
//
// ********************

html {
  font-family: $base-type;
  font-size: $base-type-size;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}